:root{
  --primary-color:#FF6864;
  --primary-hover-color:#e8514b;
  --nav-bg-color:#0B4141;
  --nav-txt-color:#faebd7;
  --nav-txt-hover-color:#b7a895;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.primaryColor{
  background-color: var(--primary-color) !important;
  border: none;
}
.primaryColor:hover,
.primaryColor:focus,
.primaryColor:active {
  background-color: var(--primary-hover-color) !important;
}

.navColor{
  background-color: var(--nav-bg-color) !important;
}
.nav-brand{
  color:var(--nav-txt-color) !important;
}
.navLinkColor{
  color:var(--nav-txt-color) !important;
}
.navLinkColor:hover,
.navLinkColor:focus,
.navLinkColor:active{
   color:var(--nav-txt-hover-color) !important;
} 

body{
  font-family: var(--primary-font);
  font-weight: 400;
}
h1, h2,h3,h4,h5{
  font-family: var(--secondary-font);
}